@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web pro děti</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="MainPage">&#127968 Hlavní stránka</a></li>
                <li><a href="mailto:michael.kozak02@upol.cz">&#128231 Kontakt</a></li>
                <li><a asp-controller="Home" asp-action="Manual">&#128195 O webu</a></li>     
                @if (Context.Session.GetString("UserName") == null)
                {
                    <ul class="f-right">
                        <li><a id="login" asp-controller="Account" asp-action="Login">&#128273 Přihlášení</a></li>
                        <li><a asp-controller="Account" asp-action="Register">&#128274 Registrace</a></li>
                    </ul>
                }
                else
                {
                    <ul class="f-right">
                        @if (Context.Session.GetString("Role") == "pedagog")
                        {
                            <li><a id="profile">&#127979 @Context.Session.GetString("UserName")</a></li>   
                        }else
                        {
                            <li><a id="profile">&#128100 @Context.Session.GetString("UserName")</a></li>  
                        }
                        <li><a id="result" asp-controller="Home" asp-action="Table">&#128209 Výsledky</a></li>
                        <li><a asp-controller="Account" asp-action="Logout">&#128275 Odhlášení</a></li>
                    </ul>
                }
            </ul>
        </nav>
    </footer>
</body>
<div id="lastDiv"></div>
</html>
<script>

        $(document).ready(function () {
            $("#lastDiv").nextAll("center").remove();

            setTimeout(function () {

                $("#lastDiv").nextAll("div").remove();

            }, 50);

            $("#lastDiv").nextAll("center").remove();

            setTimeout(function () {

                $("#lastDiv").nextAll("div").remove();

            }, 100);

            $("#lastDiv").nextAll("center").remove();

            setTimeout(function () {

                $("#lastDiv").nextAll("div").remove();

            }, 200);

            $("#lastDiv").nextAll("center").remove();

            setTimeout(function () {

                $("#lastDiv").nextAll("div").remove();

            }, 400);

            setTimeout(function () {

                $("#lastDiv").nextAll("div").remove();

            }, 500);

        });

 </script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@*@RenderSection("Scripts") {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }*@

@RenderSection("Scripts", required: false) 