@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Výsledky";
 string[] tableHeaders = new string[] {
            "Jméno"
            ,"Třída"
            ,"Pohyby - Otočení"
            ,"Správné odpovědi"
            ,"Počet otázek"
            ,"Hra"
            ,"Čas uložení"};
}
<!DOCTYPE html>
<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<html lang="cs">

<head>
    <link rel="stylesheet" href="~/css/table.css">
</head>
<body>
    <select id="gamesDropdown" oninput="filterTable()">
        <option>Vše</option>
        <option>Bludiště</option>
        <option>Pexeso</option>
        <option>Kvíz</option>
    </select>

    <div class="table">
        <table class="table table-striped">
            <thead>
                <tr class="bg-info">
                    @{
                        @*foreach (var head in tableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }*@
                        <th data-column="UserName" data-order="desc">Jméno</th>
                        <th data-column="ClassName" data-order="desc">Třída</th>
                        <th id="score" data-column="Moves" data-order="desc">Pohyby - Otočení &#9650</th>
                        <th id="game" data-column="Games" data-order="desc">Hra &#9650</th>
                        <th id="date" data-column="DateTime" data-order="desc">Čas uložení &#9650</th>
                        <th id="correctAnswer" data-column="CorrectAnswer" data-order="desc">Správné odpovědi &#9650</th>
                        <th id="question" data-column="Question" data-order="desc">Počet otázek</th>
                    }
                </tr>
            </thead>
            <tbody id="myTable">
                @{
                    if (Model != null)
                    {
                        foreach (var data in Model)
                        {
                            <tr>
                                <td>@data.UserName</td>
                                <td>@data.ClassName</td>
                                <td>@data.Moves</td>
                                <td>@data.Games</td>
                                <td>@data.DateTime</td>
                                <td>@data.CorrectAnswer</td>
                                <td>@data.Question</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>
<script>
    $('th').on('click', function () {
        var column = $(this).data('column')
        var order = $(this).data('order')
        var text = $(this).html()
        text = text.substring(0, text.length - 1)

        var myArray =  @Html.Raw(JsonConvert.SerializeObject(ViewData["Data"]));

        switch (column) {

            case 'Moves':
                document.getElementById("date").style.color = 'white'
                document.getElementById("game").style.color = 'white'
                document.getElementById("correctAnswer").style.color = 'white'
                document.getElementById("score").style.color = 'red'
                if (order == 'desc') {
                    $(this).data('order', "asc")
                    myArray = myArray.sort((a, b) => a[column] > b[column] ? 1 : -1)
                    text += '&#9660'
                } else {
                    $(this).data('order', "desc")
                    myArray = myArray.sort((a, b) => a[column] < b[column] ? 1 : -1)
                    text += '&#9650'
                }
                break;

            case 'CorrectAnswer':
                document.getElementById("date").style.color = 'white'
                document.getElementById("game").style.color = 'white'
                document.getElementById("score").style.color = 'white'
                document.getElementById("correctAnswer").style.color = 'red'
                if (order == 'desc') {
                    $(this).data('order', "asc")
                    myArray = myArray.sort((a, b) => a[column] > b[column] ? 1 : -1)
                    text += '&#9660'
                } else {
                    $(this).data('order', "desc")
                    myArray = myArray.sort((a, b) => a[column] < b[column] ? 1 : -1)
                    text += '&#9650'
                }
                break;

            case 'DateTime':
                document.getElementById("game").style.color = 'white'
                document.getElementById("score").style.color = 'white'
                document.getElementById("correctAnswer").style.color = 'white'
                document.getElementById("date").style.color = 'red'
                if (order == 'desc') {
                    $(this).data('order', "asc")
                    myArray = myArray.sort((a, b) => new Date(b.date) - new Date(a.date))
                    //myArray = myArray.sort((a, b) => new Date(a[column]) < new Date(b[column]) ? 1 : -1)
                    text += '&#9660'
                } else {
                    $(this).data('order', "desc")
                    myArray = myArray.sort((a, b) => new Date(a.date) - new Date(b.date)).reverse()
                    //myArray = myArray.sort((a, b) => new Date(a[column]) > new Date(b[column]) ? 1 : -1)
                    text += '&#9650'
                }
                break;

            case 'UserName':
                return
                break;
            case 'ClassName':
                return
                break;
            case 'Question':
                return
                break;

            case 'Games':
                document.getElementById("score").style.color = 'white'
                document.getElementById("date").style.color = 'white'
                document.getElementById("correctAnswer").style.color = 'white'
                document.getElementById("game").style.color = 'red'
                if (order == 'desc') {
                    $(this).data('order', "asc")
                    myArray = myArray.sort((a, b) => a[column] > b[column] ? 1 : -1)
                    text += '&#9660'
                } else {
                    $(this).data('order', "desc")
                    myArray = myArray.sort((a, b) => a[column] < b[column] ? 1 : -1)
                    text += '&#9650'
                }
                break;

            default:
                break;
        }
        $(this).html(text) //Nastaví popis
        buildSort(myArray) //Vytvoří seřazenou tabulku
        filterTable(); //Pokud je vybrán filtr aplikuje jej na seřazenou tabulku
    })

    function buildSort(data) {
        var table = document.getElementById('myTable');
        table.innerHTML = '';
        for (var i = 0; i < data.length; i++) {
            var row = `<tr>
                            <td>${data[i].UserName}</td>
                            <td>${data[i].ClassName}</td>
                            <td>${data[i].Moves}</td>
                            <td>${data[i].Games}</td>
                            <td>${data[i].DateTime}</td>
                            <td>${data[i].CorrectAnswer}</td>
                            <td>${data[i].Question}</td>
                      </tr>`
            table.innerHTML += row
        }
    }

    function filterTable() {
        let dropdown, table, rows, cells, game, filter;
        dropdown = document.getElementById("gamesDropdown");
        table = document.getElementById("myTable");
        rows = table.getElementsByTagName("tr");
        filter = dropdown.value;

        //Projde řádky a které neodpovídají filtru tak se skryjí
        for (let row of rows) { 
            cells = row.getElementsByTagName("td");
            game = cells[2] || null; //Filtrování podle hry
            //Pokud je filtr nastaven na vše nebo se položka rovná filtru, tak ostaní řádky skryje
            if (filter === "Vše" || !game || (filter === game.textContent)) {
                row.style.display = ""; //zobrazení
            }
            else {
                row.style.display = "none"; //skrytí
            }
        }
    }
</script>
